@use '~reset-css/sass/reset';
@use './mixins' as *;
@use './functions' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;

  @media screen and (max-width: 480px) {
    font-size: 3.33vw;
  }
}

.main-screen {
  display: flex;
  flex-flow: column nowrap;
  
  min-height: 100vh;
}

.main-screen__content {
  background-color: rgba(56 162 239 / 10%);

  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @include between-children() {
    margin-bottom: 12px;
  }
}

.main-card {
  display: flex;
  flex-flow: row nowrap;
  
  max-width: 480px;
  margin: 0 auto;

  @include between-children() {
    margin-right: 25px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 16px;

    @include between-children() {
      margin-right: 15px;
    }
  }
}

.main-card--left {
  text-align: left;
}

.main-card--right {
  text-align: right;
}

.main-card__img {
  flex: 0 0 rem(175px);
  height: rem(315px);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.main-card__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include between-children() {
    margin-bottom: 12px;
  }
}

.title {
  color: rgba(0 0 0 / 87%);
  font-size: rem(24px);
  font-weight: 500;
}

.subtitle {
  color: rgba(0 0 0 / 87%);
  font-size: rem(16px);
  line-height: 1.3;

  strong {
    font-weight: 500;
  }

  a {
    color: #2A8C79;
    text-decoration: underline;
  }
}